@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.markdown-body {
  background-color: transparent !important;
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding: 0.2rem !important;
  background: rgb(40, 44, 52) !important;
  /* background-color: transparent !important; */
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.glowing-card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  position: relative;
}

.glowing-card:hover::before,
.glowing-card:hover::after {
  opacity: 1;
}

.glowing-card::before,
.glowing-card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.glowing-card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.03),
    transparent 40%
  );
  z-index: 3;

  pointer-events: none;
}

.glowing-card::after {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.3),
    transparent 40%
  );
  z-index: 1;

  pointer-events: none;
}

.glowing-card > .glowing-card-content {
  border-radius: inherit;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  margin: 1px;
  position: relative;
  z-index: 2;
}
